* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-inner img {
  width: 100%;
  height: 100% !important;
}

.logo {
  width: 60px;
  height: 60px;
}

.service {
  width: 350px;
  height: 450px;
  text-align: center;
}

.service img {
  width: 80%;
  height: 150px !important;
  margin: 20px auto;
}

.about-img {
  width: 100%;
  height: 350px !important;
}

.title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
}

.btn {
  vertical-align: bottom;
}


